* {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--el-text-color-placeholder) var(--el-text-color-placeholder);
}

a {
  color: var(--el-color-primary-light-3);

  &:hover {
    color: var(--el-color-primary);
  }
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--el-border-color);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--el-border-color);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--el-border-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--el-text-color-placeholder);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-text-color-placeholder);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--el-text-color-placeholder);
}

label {
  font-size: 12px !important;
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}